            #shape {
                
                width: 200px;
                height: 200px;
                background-color: red;
                display: none;
                position: relative;
                
            }
            
            body {
                font-family: sans-serif;
                
            }
            
            h1 {
                
                text-align: center;
                
            }
            
            #time {
                
                font-size: 30px; 
                font-weight: bold;
                text-align: center;
                
            }